<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Order-Server</display-name>
  <welcome-file-list>
    <welcome-file>CorpLogin.jsp</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>com.awu.listeners.InitServiceListener</listener-class>
  </listener>
  <listener>
    <listener-class>com.awu.listeners.AppListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>ValidateLogin</servlet-name>
    <servlet-class>com.awu.servlet.ValidateLogin</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MenuTreeData</servlet-name>
    <servlet-class>com.awu.servlet.LoadMenu</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MenuPageContent</servlet-name>
    <servlet-class>com.awu.servlet.MenuPage</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.awu.servlet.Logout</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MenuData</servlet-name>
    <servlet-class>com.awu.servlet.MenuData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidateLogin</servlet-name>
    <url-pattern>/Validate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MenuTreeData</servlet-name>
    <url-pattern>/MenuData</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MenuPageContent</servlet-name>
    <url-pattern>/Menu</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MenuData</servlet-name>
    <url-pattern>/MenuData</url-pattern>
  </servlet-mapping>
</web-app>