<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Order-Server</display-name>
  <welcome-file-list>
    <welcome-file>CorpLogin.jsp</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>com.awu.listeners.InitServiceListener</listener-class>
  </listener>
  <!--Login -->
  <servlet>
    <servlet-name>ValidateLogin</servlet-name>
    <servlet-class>com.awu.servlet.ValidateLogin</servlet-class>
  </servlet>
    <servlet-mapping>
    <servlet-name>ValidateLogin</servlet-name>
    <url-pattern>/validate</url-pattern>
  </servlet-mapping>
  <!-- Get User's Menu -->
  <servlet>
    <servlet-name>MenuTreeData</servlet-name>
    <servlet-class>com.awu.servlet.LoadMenu</servlet-class>
  </servlet>
    <servlet-mapping>
    <servlet-name>MenuTreeData</servlet-name>
    <url-pattern>/loadmenu</url-pattern>
  </servlet-mapping>
  <!-- Logout -->
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.awu.servlet.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <!-- Operator data operation -->
  <servlet>
      <servlet-name>OperatorIo</servlet-name>
      <servlet-class>com.awu.servlet.OperatorIO</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>OperatorIo</servlet-name>
      <url-pattern>/operator</url-pattern>
  </servlet-mapping>
</web-app>